.deselectable-image {
  object-fit: cover;
  width: 100%;
  height: 180px;
  transition: opacity 0.2s;
}

.deselectable-image:hover {
  opacity: 0.6;
  cursor: pointer;
}

.deselectable-image.inactive {
  opacity: 0.2;
}
