# NestJS specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# TypeScript cache/misc
*.tsbuildinfo
.eslintcache

# IDE specific (optional, add as needed)
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other tools/files
coverage
.nyc_output
.sass-cache
.gitignore.swp
.git*